.extraStyle {
  background-color: #fbd062;
}
.extraStyle img {
  height: 250px;
}
.extraStyle {
  background: #fbd062;
  -webkit-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  padding: 200px 0;
  margin-top: -190px;
}

.content {
  width: 100%;
  -webkit-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);
}
